.banner {
    height: 100vh;
    background-image: url("../images/index_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .banner-wrap {
        color: #fff;
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 3rem;
        }

        .content {
            font-size: 1.3rem;
            letter-spacing: 1px;
        }

        .button-group {
            margin-top: 20px;
            .button {
                padding: 15px 30px;
                border-radius: 99px;
                background-color: #fff;
                color: #2e48da;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease;
                border: 0;

                &:hover {
                    background-color: #2e48da;
                    color: #fff;
                }
            }
        }
    }
}
