@import "reset";
@import "components/project";
@import "components/about-us-banner";

.timeline {
    padding: 80px 0;
    background-color: #fff;

    .timeline-wrap {
        display: grid;
        gap: 40px;

        .item {
            display: grid;
            gap: 20px;

            .title {
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                color: #3926dd;
                padding-bottom: 15px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 4px;
                    background-color: #3926dd;
                    border-radius: 9999px;
                }
            }

            .content-wrap {
                width: 70%;
                margin: 0 auto;

                .content {
                    padding: 40px;
                    background-color: #f5f5f5;
                    border-radius: 10px;
                    line-height: 2;
                }
            }
        }
    }
}

.core-value {
    padding: 80px 0;

    .item-wrap {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .item {
            padding: 40px;
            background-color: #fff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            border-radius: 10px;

            .icon {
                font-size: 2rem;
                color: #283adf;
            }

            .content {
                text-align: center;
                line-height: 1.5;
            }
        }
    }
}
