@import "reset";
@import "components/project";
@import "components/news-banner";

.news-items {
    padding: 80px 0;

    .item-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .item {
            padding: 40px;
            background-color: #fff;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
            .date {
                color: #2472d8;
                font-weight: 700;
            }

            .btn-wrap {
                .btn {
                    color: #2472d8;
                    font-weight: 700;
                }
            }
        }
    }
}
